ion-content {
    --background: linear-gradient(0deg, rgba(0, 0 ,0, 0.7), rgba(0, 0, 0, 0.1)),
    url("/assets/fondoreg.png") no-repeat center center / cover;
}

ion-card{
   
    margin-top: 40%;
  
    
    
    

    
        
}
ion-header{
    opacity: 0.8;
}
