<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  
    <ion-title>Portal Alumnos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <a  id="cerrar"  routerLink="/inicio" >Cerrar sesion</a>

 

  <icon-card>
    <img src="assets/camara.png" class="ion-padding" routerLink="/captura">
  </icon-card>


  

</ion-content>

