<ion-header >
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>SECCIONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
  
    <ion-list>
      <ion-list-header>
        <center>Segundo Semestre</center>
      </ion-list-header>

      <ion-item>
        <ion-col>
          <h5>Sección</h5>
        </ion-col>

        <ion-col>
          <h5> Asistencia</h5>
        </ion-col>
        <h5>N° alumnos </h5>
      </ion-item>

      <ion-item>
        <ion-col>
          <h5>v002 </h5>
        </ion-col>
        <ion-col>
          <h6> 88%</h6>
        </ion-col>   
        <h5>20 </h5>
      </ion-item>

      <ion-item>
        <ion-col>
          <h5>v001</h5>
        </ion-col>

        <ion-col>
          <h6> 70%</h6>
        </ion-col>
        <h5>19  </h5>
      </ion-item>

      <ion-item>
        <ion-col>
          <h5>v002 </h5>
        </ion-col>
        <ion-col>
          <h6> 88%</h6>
        </ion-col>   
        <h5>20</h5>
      </ion-item>

      <ion-item>
        <ion-col>
          <h5>v001</h5>
        </ion-col>

        <ion-col>
          <h6>70%</h6>
        </ion-col>
        <h5>19</h5>
      </ion-item>

      <ion-item>
        <ion-col>
          <h5>v002</h5>
        </ion-col>
        <ion-col>
          <h6>88%</h6>
        </ion-col>   
        <h5>20</h5>
      </ion-item>

    
    </ion-list>
  </ion-card>
</ion-content>